*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}

body {
    background: #fefefe;
}

/* NavBar */

header {
    width: 100%;
    height: 80px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: inline-block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #000000;
    background: #fefefe;
}

.nav-bar ul li a.active {
    color: #000000;
    background: #fefefe;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #000000;
        transition: 0.5s;
        overflow: hidden;
        z-index: 100;
    }

    .nav-bar.active {
        height: 470px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}
 /* end of Navbar */

/* Logo */
*{
    margin: 0;
}
.Logo {
    width: 80%;
    margin-left: 34%;
    size: 500px;
}

.Logo img {
    width: 35%;
}


    /*Contact Us Page*/
    body {
        background-color: #fffde9;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        padding: 2em 1em;
        text-align: center;
    }

    .column {
        width: 100%;
        padding: 0.5em;
    }

    h1 {
        width: 100%;
        text-align: center;
        font-size: 3.5em;
        color: #000000;
    }

    .card {
        box-shadow: 0 0 0.2em rgb(42, 41, 41);
        padding: 3.5em 1em;
        border-radius: 0.6em;
        color: #1f003b;
        cursor: pointer;
        transition: 0.3s;
        background-color: #ffffff;
    }

    .card .img_container {
        width: 10em;
        height: 10em;
        background-color: #000000;
        padding: 0.5em;
        border-radius: 50%;
        margin: 0 auto 3em auto;
    }

    .card img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .card h2 {
        font-weight: 500;
    }

    .card h3 {
        font-weight: 300;
        text-transform: uppercase;
        margin: 0.5em ;
    }
    
    .card p {
        font-weight: 100;
        font-size: 1em;
        margin: 0.3em;
    }

    .icons  {
        width: 50%;
        min-width: 180px;
        margin: auto;
        display: flex;
        justify-content: space-around;
    }

    .card a {
        text-decoration: none;
        color: inherit;
        font-size: 1.3em;
        padding-top: 10px;
    }

    .card:hover {
        background: #cb2a2a;
        color: #000000;
    }

    .card:hover .img_container {
        transform: scale(1.15);
    }

    @media screen and (min-width: 768px) {
        section {
            padding: 1em 7em;
        }

    }

    @media screen and (min-width: 992px) {
        section {
            padding: 1em;
        }

        .card {
            padding: 5em 1em;
        }

        .column {
            flex: 0 0 33.33%;
            max-width: 33.33%;
            padding: 0 1em;
        }
    }


    /*Sproducts*/
    .section_1 {
        padding: 40px 80px
    }

    #prodetails {
        display: flex;
        margin-top: 20px;
    }

    #prodetails .pro_image {
        width: 30%;
        margin-right: 50px;
    }
    
    .small_image {
        display: flex;
        justify-content: space-between;
    }
    
    .small_image_col {
        flex-basis: 24%;
        cursor: pointer;
    }

    #prodetails .single-pro-details {
        width: 50%;
        padding-top: 30px;
        font-size: 25px;
    }

    #prodetails .single-pro-details h4 {
        padding: 40px 0 20px 0;
    }

    #prodetails .single-pro-details h2 {
        font-size: 26px;
    }

    #prodetails .single-pro-details select {
        display: block;
        padding: 5px 10px;
        margin-bottom: 10px;
    }

    #prodetails .single-pro-details input {
        width: 50px;
        height: 47px;
        padding-left: 10px;
        font-size: 16px;
        margin-right: 10px;
    }

    #prodetails .single-pro-details input:focus {
        outline: none;
    }
    
    #prodetails .single-pro-details button {
        padding: 10px 5px;
        margin-top: 20px;
        border-radius: 5px; 
        border: none;
        background: #2f6711; 
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: #15ff00;
    }

    #prodetails .single-pro-details span {
        line-height: 25px;
    }

    @media  (max-width: 600px) {
        .section_1 {
            padding: 20px;
        }

        #prodetails {
            display: flex;
            flex-direction: column;
        }

        #prodetails .pro_image {
            width: 100%;
            margin-right: 0px;
        }

        #prodetails .single-pro-details {
            width: 100%;
        }
    }


    




