*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Google Sans Regular";
    box-sizing: border-box;
}

body {
    background: #fefefe;
}

/* NavBar */

header {
    width: 100%;
    height: 80px;
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.hamburger {
    display: none;
}

.nav-bar ul {
    display: flex;
}

.nav-bar ul li a {
    display: inline-block;
    color: #fefefe;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 50px;
    transition: 0.2s;
    margin: 0 5px;
}

.nav-bar ul li a:hover {
    color: #000000;
    background: #fefefe;
}

.nav-bar ul li a.active {
    color: #000000;
    background: #fefefe;
}

@media only screen and (max-width: 1320px) {
    header {
        padding: 0 50px;
    }
}

@media only screen and (max-width: 1100px) {
    header {
        padding: 0 30px;
    }
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #fefefe;
        margin: 6px 0;
    }

    .nav-bar {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #000000;
        transition: 0.5s;
        overflow: hidden;
        z-index: 100;
    }

    .nav-bar.active {
        height: 450px;
    }

    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }

    .nav-bar.active ul {
        opacity: 1;
    }

    .nav-bar ul li a {
        margin-bottom: 12px;
    }
}
 /* end of Navbar */

/* Logo */
*{
    margin: 0;
}
.Logo {
    width: 80%;
    margin-left: 34%;
    size: 500px;
}

.Logo img {
    width: 35%;
}

/*Form*/
html, body {
    min-height: 100%;
    }
    body, div, form, input, select, p { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    color: #eee;
    }
    
    h1, h2 {
    text-transform: uppercase;
    font-weight: 400;
    }

    h2 {
    margin: 0 0 0 8px;
    }

    .main-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 25px;
    background: rgb(225, 0, 0); 
    }

    .left-part, form {
    padding: 25px;
    }

    .left-part {
    text-align: center;
    }

    .fa-graduation-cap {
    font-size: 72px;
    }

    form {
    background: rgba(0, 0, 0, 0.7); 
    }

    .title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    }

    .info {
    display: flex;
    flex-direction: column;
    }

    input, select {
    padding: 5px;
    margin-bottom: 30px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #eee;
    }

    input::placeholder {
    color: #eee;
    }


    .btn-item, button {
        padding: 10px 5px;
        margin-top: 20px;
        border-radius: 5px; 
        border: none;
        background: #26a9e0; 
        text-decoration: none;
        font-size: 15px;
        font-weight: 400;
        color: #fff;
        }

        .btn-item {
        display: inline-block;
        margin: 20px 5px 0;
        }

    button {
    width: 100%;
    }

    button:hover, .btn-item:hover {
    background: #85d6de;
    }

    @media (min-width: 568px) {
    html, body {
    height: 100%;
    }

    .main-block {
    flex-direction: row;
    height: calc(100% - 50px);
    }

    .left-part, form {
    flex: 1;
    height: auto;
    }
    }